node_modules
!/bpi-shared-eslint/node_modules

# local ssl
**/ssl/*

!/**/.gitkeep

.idea/*
*/.idea/*

*/.pmd
*/.pmdruleset.xml

**/contributors_data.csv

*.iml

.DS_Store
.git-crypt.key

**/__pycache__/*
**/*.pyc

permission-api/ssl/rootCA.pem

.sdkmanrc
.motherboard.env

perf.csv
service_coupling.csv
new_mep_flow_kpi.csv

.env

.m2

.npmrc
.npm
.eslintcache

.docker-sync/

.localstackrc

.env.localstack

.envrc
.kubeconfig
.aws/credentials

environment.localstack.ts

scripts/git/cache

pom.my-aggregate.xml

# k6
summary.html

# output du script qui reset la preprod
reset-preprod-onto-prod.txt